# Python-specific ignores
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3
memory-bank
#*.db for development leave

.python-version

# Environment Variables
.env
#.env.* leave examples

# Package files
*.egg
*.egg-info/
dist/
build/
*.egg-manifest
*.egg-install

# Python Migrations
alembic/versions/*.py[cod]
alembic/versions/__pycache__/

# IDE Editor files
.idea/
.vscode/
*.sublime-*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Cython debug symbols
cython_debug/

# Docker
*.swp
*.swo
*.~res
.DS_Store
*.swp
docker-compose.*.override.yml


# PyCharm
.idea/

# PyDev
.pydevproject

# Mac OS operational system files
.DS_Store
.hypothesis/


.gitattributes
/dev/*/.terraform.lock.hcl
/dev/*/.terraform.lock.info
/dev/*/create_databases.sql
/dev/*/dev.out
/dev/*/terraform.auto.tfvars
/dev/*/terraform.tfstate
/dev/*/terraform.tfstate.backup
dev/*/.terraform/
/dev/containers/config.yml
/dev/containers/litellm.yml
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/dev/containers/owui.sql
/dev/containers/prometheus.yml
/dev/containers/datasource.yml
experi.ipynb
/llm-monitor-config.json
/llm-monitor-config.yml
/values.yaml
